<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="LostFoundApp"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity
            android:name="com.example.lostfoundapp.ItemDetailActivity"
            android:exported="false" />

        <activity
            android:name="com.example.lostfoundapp.AddItemActivity"
            android:exported="false" />

        <activity
            android:name="com.example.lostfoundapp.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>